{% extends 'base.html' %}


{% block body %}

<br/>

<div class="container is-fluid">

    <section class="section">
            <div class="title is-4">Enter link to parse XML feed in RSS format:</div>

        <form class="form-inline">
            <div class="control has-icons-left has-text-centered">


                <input type="text"
                       class="input is-info is-rounded "
                       placeholder="{{url}}"
                       name="url">
                <span class="icon is-small is-left">
                <i class="fas fa-link"></i>
            </span>


            </div>
            <div class="has-text-centered" style="padding:10px">
                <button type="submit" class="button is-medium is-info is-light">Submit input</button>
                <button type="reset" class="button is-medium is-light">Clear input</button>
            </div>
        </form>
    </section>

    <section>

        {% if feed %}

        {% if custom_labels_data %}

        {% if nr_of_items %}
        <div class="title is-5"> Number of items
            <p class="has-text-info	">{{nr_of_items}}</p>

        </div>
        {% endif %}

        {% if nr_of_in_stock_items %}
        <div class="title is-5"> Number of in-stock items
            <p class="has-text-info	">{{nr_of_in_stock_items}}</p>
        </div>

        <progress class="progress is-info" value="{{nr_of_in_stock_items}}" max="{{nr_of_items}}"></progress>

        {% endif %}
    </section>

    <section>
        {% for custom_label in custom_labels_data %}
        {% if custom_label.custom_label_values %}

        <div class="section">
            <div class="title is-4">
                {{ custom_label.custom_label }} labels:
            </div>

            <div class="columns is-vcentered">
                <div class="column">
                    <p class="notification is-info">Label name</p>
                </div>
                <div class="column has-text-centered">
                    <p class="notification is-info">Number of items</p>
                </div>
                <div class="column has-text-centered">
                    <p class="notification is-info">Number of items in stock</p>
                </div>
            </div>

            {% for label in custom_label.custom_label_values %}


            <div class="columns is-vcentered">
                <div class="column">
                    <p class="notification has-background-info-light ">{{ label.label_name }}</p>
                </div>
                <div class="column has-text-centered">
                    <p class="notification has-background-info-light">{{ label.nr_of_items }}</p>
                </div>
                <div class="column has-text-centered">
                    <p class="notification has-background-info-light">{{ label.nr_of_items_in_stock }}</p>
                </div>
            </div>
            {% endfor %}

        </div>
        <!--</div><p>{{ entry.published }}</p>-->

        {% endif %}
        {% endfor %}

        {% endif %}

        {% else %}

        <br/>

        <p class="has-text-danger">{{ error_msg }}</p>

    </section>
</div>

{% endif %}


{{ feed2 }}


{% endblock %}
