{% extends 'base.html' %}


{% block body %}

<br/>

<form class="form-inline">

    <div class="form-group mx-sm-3 mb-2">

        <input type="text" class="form-control" placeholder="paste link"

               name="url">

    </div>

    <button type="submit" class="btn btn-primary mb-2">Search</button>

</form>

{% if feed %}

<h2>{{ feed.feed.title }}</h2>

{% if custom_labels_data %}

{% if nr_of_items %}
<p> Number of items: {{nr_of_items}} </p>
{% endif %}

{% if nr_of_in_stock_items %}
<p> Number of in-stock items: {{nr_of_in_stock_items}} </p>
{% endif %}

{% for custom_label in custom_labels_data %}
{% if custom_label.custom_label_values %}

<div class="card">
    <div class="row">
        <div class="card-header">
            {{ custom_label.custom_label }} labels:
        </div>

        {% for label in custom_label.custom_label_values %}


        <div class="column">
            <div class="card">

                <div class="card-header">

                    {{ label.label_name }}

                </div>

                <div class="card-body">

                    <h5 class="card-text">Number of items: {{ label.nr_of_items }}</h5>

                    <p class="card-text">Number of items in stock: {{ label.nr_of_items_in_stock }}</p>

                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!--</div><p>{{ entry.published }}</p>-->

{% endif %}
{% endfor %}

{% endif %}

{% else %}

<br/>

<p>{{ error_msg }}</p>

{% endif %}


{{ feed2 }}


{% endblock %}